body {
	margin:0;
}
#wrapper {
	margin:0 10px 10px;
	text-align:center;
}
#container {
	position:relative;
	margin:10px auto;
	text-align:left;
	max-width:950px;
	_width:950px;
}
#content {
	position:relative;
	clear:both;
	margin:10px 0 0;
}
#header {
	position:relative;
	margin:0;
}

#toplinks {
	text-align:right;
}
#toplinks-inner,
#footer-inner {
	margin:0 auto;
	max-width:950px;
	_width:950px;
	padding:5px 0;
}
#logo {
	clear:both;
	height:40px;
	width:240px;
	overflow:hidden;
}
.compact #logo {
	float:left;
	margin-right:10px;
}
#navigation {
	margin:10px 0 0;
}
.compact #navigation {
	width:700px;
	position:absolute;
	bottom:0;
	right:0;
}
.sidenav #navigation {
	width:22px;
	position:absolute;
	top:0;
	left:-32px;
	margin:0;
}

.sidenav #header,
.sidenav #content,
.sidenav #footer {
	margin-left:32px;
}


#footer {
	margin:10px 0 0;
}

.column {
	float:left;
	overflow:hidden;
}
.columns-3 .column {
	width:32.33%;
	margin:0 .750%;
	*margin:0 .70%;
}
.columns-3 > div.column.first {
	margin-left:0;
}
.columns-3 > div.column.last {
	margin-right:0;
}
.columns-2-right .column {
	float:left;
	width:75%;
	margin:0 .99% 0 0;
}
.columns-2-right  > div.column.last {
	width:24%;
	margin:0;
}
.columns-2-left .column {
	float:left;
	width:75%;
	margin:0 0 0 .99%;
}
.columns-2-left  > div.column.first {
	width:24%;
	margin:0;
}



/*
.compactnav {
	overflow:hidden;
}

.compactnav #logo, .sidenav #logo{
	margin:0 10px 0 0;
}

.compactnav #logo {
	*margin-top:20px;
	float:left;
}

.compactnav #navigation {
	float:left;
	clear:none;
	width:490px;
	height:24px;
	margin-top:16px;
}
.sidenav #logo {
	clear:none;
}
.sidenav #navigation {
	float:left;
	width:25px;
	margin: 10px 0 0 -35px
}


.threecolumn {
	float:left;
	margin-left:10px;
	width:32.433%;
}

.threecolumn.first {
	margin-left:0px;
}

.sidenav .threecolumn {
	width:32.625%
}
.sidenav .threecolumn.second {
	width:31.916%
}


.column, .rightcolumn, .leftcolumn {
	float:left;
	margin:0px;
	width:74.325%;
}
.rightcolumn {
	margin-left:10px;
	width:24.325%;
}
.leftcolumn {
	margin-right:10px;
	width:24.325%;
}
.sidenav  .column {
	width:73.761%;
}
.sidenav .rightcolumn, .sidenav .leftcolumn  {
	width:24.825%;
}*/
