ul.linklist {
	padding:0;
	list-style:none;
	list-style-image:none;
}
.linklist li {
	margin:.3em 0;
}
.linklist a {
	padding-left:.8em;
	text-decoration:none;
	background:transparent url("../_images/arrow-s-orange-e.png") no-repeat left center;
}
.linklist a:hover,
.linklist a:focus {
	text-decoration:underline;
}
.linklist li .info {
	font-size:.9em;
	color:#999;
}


.linklist_horizontal_html {
	color:#999;
}
.linklist_horizontal_css {
	padding:0;
	list-style:none;
}
.linklist_horizontal_css li {
	display:inline;
	border-left:1px solid #999;
	padding:0 .45em;
}
.linklist_horizontal_css li:first-child {
	border-left:0;
	padding-left:0;
}

.linklist_horizontal_html a,
.linklist_horizontal_css a {
	color:#333;
	text-decoration:none;
}
.linklist_horizontal_html a:hover,
.linklist_horizontal_html a:focus,
.linklist_horizontal_css a:hover,
.linklist_horizontal_css a:focus {
	color:#F50;
	text-decoration:underline;
}

.linklist_horizontal_html a.on,
.linklist_horizontal_css li.on a {
	font-weight:bold;
}


.linklist_strong {
	padding:0;
	list-style:none;
	list-style-image:none;
}
.linklist_strong li {
	margin:.2em 0;
}
.link_strong a,
.linklist_strong a {
	padding-left:1em;
	font-weight:bold;
	font-size:1.2em;
	text-decoration:none;
	background:transparent url("../_images/arrow-b-orange-e.png") no-repeat left center;
}
.link_strong a:hover,
.link_strong a:focus,
.linklist_strong a:hover,
.linklist_strong a:focus {
	text-decoration:underline;
}

.page_top {
	margin:0 0 2em;
	text-align:right;
}
.page_top a {
	padding-left:1em;
	font-size:.9em;
	text-decoration:none;
	background:url("../_images/goto-m-orange-n.png") left center no-repeat;
}
.page_top a:hover,
.page_top a:focus {
	text-decoration:underline;
}