.infobox_confirm,
.infobox_error,
.infobox_info,
.infobox_help {
	margin:1em 0;
	padding:.8em .3em .8em 5em;
	color:#333;
	border-width:2px;
	border-style:solid;
	background-color:#FAFAFA;
	background-position:11px 11px;
	background-repeat:no-repeat;
	box-shadow:0 1px 2px rgba(0,0,0,.5), 0 -7px 7px rgba(0,0,0,.05) inset;
}
.infobox_confirm {
	padding:1.7em .8em 1.5em 5em;
	border-color:#090;
	background-image:url("../_images/modifier-b-ok.png");
}
.infobox_error {
	border-color:#D60000;
	background-image:url("../_images/modifier-b-error.png");
}
.infobox_info {
	border-width:1px;
	border-color:#F50;
	background-image:url("../_images/modifier-b-info.png");
}
.infobox_help {
	border-width:1px;
	border-color:#F50;
	background-image:url("../_images/modifier-b-help.png");
}

.infobox_confirm p,
.infobox_error p,
.infobox_info p,
.infobox_help p,
.infobox_confirm ul,
.infobox_error ul,
.infobox_info ul,
.infobox_help ul {
	margin:0 0 .2em;
	list-style:none;
	list-style-image:none;
}

.infobox_confirm strong,
.infobox_error strong,
.infobox_info strong,
.infobox_help strong {
	font-size:1.2em;
	font-weight:bold;
}
.infobox_confirm strong {
	color:#090;
}
.infobox_error strong {
	color:#D60000;
}

.infobox_error ul,
.infobox_info ul,
.infobox_help ul {
	padding:0;
	list-style:none;
}
.infobox_error ul li,
.infobox_info ul li,
.infobox_help ul li {
	padding:0 0 0 1em;
	margin:.2em 0;
	background-repeat:no-repeat;
}
.infobox_error ul li {
	background-position:.2em .4em;
	background-image:url("../_images/triangle-m-red-e.png");
}
.infobox_info ul li,
.infobox_help ul li {
	background-position:.2em .55em;
	background-image:url("../_images/square-m-lightgray.png");
}

