.table .left {
    text-align:left;
}

.form_text.quantity input {
    width: 2.5em;
}

.infobox_confirm {
    background-image: url("../images/modifier-b-ok.png");
}

.infobox_error {
    background-image: url("../images/modifier-b-error.png");
}